@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --color-primary: #02eeff;
  --color-primary-varient: #5ddee5;

  --color-bg-1: #001517;
  --color-bg-2: #00282d;
  --color-bg-3: #012e34;
  --color-bg-4: #003f47;
  --color-light: #85afb2;
  --color-white: #e6e6e6;

  --container-width-lg: 88%;
  --container-width-md: 92%;

  --transition: all 0.3s ease-in-out;
}
* {
  box-sizing: border-box;
  outline: 0;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
body {
  /* max-width: 100vw;
  height: 100vh; */

  font-family: "Poppins", sans-serif;
  background-color: var(--color-bg-3);
  color: var(--color-light);
  overflow-x: hidden;
  line-height: 1.8;
}

h1,
h2 {
  line-height: 1.2;
  font-weight: 400;
}
h1 {
  font-size: 4rem;
  color: var(--color-white);
}
h2 {
  font-size: 3.5rem;
}
a {
  color: var(--color-light);
  transition: var(--transition);
}
a:hover {
  color: var(--color-primary);
}
.container {
  width: var(--container-width-lg);
  margin: 0 auto;
  max-width: 2160px;
}
img {
  display: block;
  width: 100%;
  object-fit: cover;
}
/*=======================NAV START=================*/
nav {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  width: 100vw;
  height: calc(16px * 4);
  display: grid;
  place-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  background: var(--color-bg-2);
  border-bottom: 0.2rem solid var(--color-bg-3);
  box-shadow: 0 0.2rem 0.7rem rgba(0 0 0 / 0.5);
}
.nav-container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-logo h2 {
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--color-primary-varient);
}
.nav-links {
  display: flex;
  gap: 4rem;
}
.nav-socials {
  display: flex;
  gap: 1rem;
}
.nav-socials a {
  width: 2rem;
  height: 2rem;
  background-image: linear-gradient(
    var(--color-primary-varient),
    var(--color-primary)
  );
  display: grid;
  place-items: center;
  color: var(--color-bg-4);
  border-radius: 0.5rem;
  transition: var(--transition);
}
.nav-socials a:hover {
  box-shadow: 0 0.8rem 0.9rem rgba(0 0 0 / 0.5);
}

/*=======================HEADER=================*/
header {
  max-width: 100vw;
  height: 100vh;
  top: 0;
  background-image: linear-gradient(var(--color-bg-2), var(--color-bg-1));
  overflow: hidden;
  position: relative;
}
.header-container {
  display: grid;
  grid-template-columns: 53% 43%;
  gap: 4%;
  margin-top: 7rem;
  position: relative;
}
.header-hashtag {
  color: var(--color-primary-varient);
}

.header-left > p {
  width: 75%;

  margin-top: 2rem;
  text-align: justify;
}
.header-btn,
.about-btn {
  display: inline-block;
  margin-top: 1rem;
  background-color: var(--color-primary);
  color: var(--color-bg-4);
  padding: 0.5rem 2rem;
  font-weight: 500;
  border-radius: 2rem;
  transition: var(--transition);
}

.header-btn:hover,
.about-btn:hover {
  color: var(--color-light);
  background-color: var(--color-bg-4);
}
.header-btn:active,
.about-btn:active {
  outline: 0.5rem solid var(--color-primary-varient);
}

.header-image-bg {
  width: 10rem;
  height: 15rem;
  background-color: var(--color-bg-4);
  position: absolute;
  top: 0;
  right: 0;
}
.header-image-lg {
  width: 20rem;
  /* height: 20rem; */
  position: absolute;
  top: 1rem;
  right: 1rem;
  /* overflow: hidden; */
  filter: saturate(0) brightness(0.5);
  transition: var(--transition);
}
.header-image-md {
  width: 16rem;
  height: 16rem;
  position: absolute;
  top: 10rem;
  right: 10rem;
  overflow: hidden;
  transition: var(--transition);
}
.header-right:hover .header-image-md {
  opacity: 0;
}
.header-right:hover .header-image-lg {
  filter: saturate(1) brightness(1);
  border: 1rem solid var(--color-bg-4);
  top: 0;
  right: 0;
}

.header-frames {
  width: 15rem;
  position: absolute;
  top: 75vh;
  left: 25vw;
  transition: var(--transition);
}
.header-frame {
  width: 15rem;
  /* height: 16rem; */
  position: absolute;
  transform: rotate(-10deg);
  transform-origin: bottom left;
  border: 0.5rem solid var(--color-bg-3);
  box-shadow: 0 0 5rem rgba(0 0 0 / 0.5);
  transition: var(--transition);
}
.header-frame:nth-child(2) {
  transform: rotate(20deg);
  top: -2rem;
  left: -2rem;
  /* transition: var(--transition); */
}
.header-frames:hover .header-frame {
  transform: rotate(0);
}
.header-frames:hover .header-frame:nth-child(2) {
  top: 0;
  left: 16rem;
}
/*=======================ABOUT=================*/
#about {
  margin-top: 15rem;
}

.about-container {
  display: grid;
  grid-template-columns: 43% 53%;
  gap: 4%;
  position: relative;
}

.about-left {
  position: relative;
}
.about-image-bg {
  width: 15rem;
  height: 20rem;
  background-color: var(--color-bg-4);
  position: absolute;
  bottom: 0;
  left: 0;
}
.about-image-lg {
  width: 22rem;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  filter: saturate(0) brightness(0.5);
  transition: var(--transition);
}
.about-image-md {
  width: 17rem;
  height: 17rem;
  position: absolute;
  top: 10rem;
  left: 10rem;
  overflow: hidden;
  transition: var(--transition);
  box-shadow: 2rem 2rem 3rem rgba(0 0 0 / 0.2);
}
.about-left:hover .about-image-md {
  opacity: 0;
}
.about-left:hover .about-image-lg {
  filter: saturate(1) brightness(1);
  border: 1rem solid var(--color-bg-4);
  box-shadow: 1rem 1rem 3rem rgba(0 0 0 / 0.2);
  bottom: 0;
  left: 0;
}
.about-right {
  margin-left: 1rem;
}
.about-title {
  /* font-size: 2.5rem; */
  margin-bottom: 2rem;
}
.about-right p {
  /* font-size: 0.8rem; */
  width: 91%;
  margin-bottom: 0.5rem;
}

/*=======================GALLERY=================*/
#gallery {
  margin-top: 10rem;
}

.gallery-header h2 {
  margin-bottom: 3rem;
}

.gallery-header p {
  width: 54%;
  margin-bottom: 4rem;
}
.gallery-images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  gap: 3rem;
}
.gallery-image {
  border: 0.5rem solid var(--color-bg-4);
  width: 25rem;
  box-shadow: 1rem 1rem 3rem rgba(0 0 0 / 0.2);
}
.gallery-image img {
  filter: saturate(0) brightness(0.5);
  transition: var(--transition);
}
.gallery-image:hover img {
  filter: saturate(1) brightness(1);
}
/*=======================COLLAGE=================*/

#collage {
  margin-top: 10rem;
}

.collage-header {
  text-align: right;
}
.collage-header h2 {
  margin-bottom: 2rem;
}

.collage-header p {
  padding-left: 39%;
  margin-bottom: 4rem;
}
.collage-images {
  display: grid;
  grid-template-areas:
    "c1 c2 c3"
    "ch ch cv"
    "ch ch cv"
    "c4 c5 cv";
  gap: 3rem;
}
.collage-image:nth-child(1) {
  grid-area: c1;
}
.collage-image:nth-child(2) {
  grid-area: c2;
}
.collage-image:nth-child(3) {
  grid-area: c3;
}
.collage-image:nth-child(4) {
  grid-area: c4;
}
.collage-image:nth-child(5) {
  grid-area: c5;
}
.collage-image:nth-child(6) {
  grid-area: ch;
}
.collage-image:nth-child(7) {
  grid-area: cv;
}
.collage-image {
  border: 0.5rem solid var(--color-bg-4);
  box-shadow: 1rem 1rem 3rem rgba(0 0 0 / 0.2);
}
.collage-image img {
  height: 100%;
  filter: saturate(0) brightness(0.5);
  transition: var(--transition);
}
.collage-image:hover img {
  filter: saturate(1) brightness(1);
}
/* footer */
.footer {
  display: flex;
  justify-content: center;

  padding: 2rem;
}
/*======================= MEDIA QUERY (MEDIUM DEVICES)=================*/
@media screen and (max-width: 1366px) {
  .gallery-images {
    grid-template-columns: repeat(2, 1fr);
  }
  .gallery-image {
    width: 22rem;
  }
}
@media screen and (max-width: 1200px) {
  .container {
    max-width: var(--container-width-md);
  }
  h1 {
    font-size: 3.5rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  .nav-links,
  .nav-socials {
    display: none;
  }
  .nav-container {
    justify-content: center;
  }
  .about-right {
    margin-right: 1rem;
  }
  header {
    background: none;
    padding-top: 3rem;
    height: fit-content;
  }
  .header-image-bg,
  .header-image-md {
    display: none;
  }

  .header-image-lg {
    filter: saturate(1) brightness(1);
    top: 0rem;
    right: 0rem;
  }
  .header-right:hover .header-image-lg {
    border: none;
  }
  .header-frames {
    display: none;
  }
  #about {
    margin-top: 0rem;
    padding-top: 5rem;
  }
  .about-image-bg,
  .about-image-md {
    display: none;
  }

  .about-image-lg {
    filter: saturate(1) brightness(1);
    top: 0;
    left: 0;
  }
  .about-left:hover .about-image-lg {
    border: none;
    box-shadow: none;
  }
  .about-right {
    margin-left: 3rem;
  }
  #gallery {
    padding-top: 10rem;
    margin-top: 0;
  }
  .gallery-header {
    text-align: center;
  }
  .gallery-header p {
    width: 100%;
  }
  .collage-header {
    text-align: center;
  }
  .collage-header p {
    padding-left: 0;
  }
}

@media screen and (max-width: 978px) {
  .gallery-image {
    width: 20rem;
  }
}
/*======================= MEDIA QUERY (SMALL DEVICES)=================*/
@media screen and (max-width: 768px) {
  .header-container {
    display: flex;
    flex-direction: column;
    place-items: center;
    text-align: center;
  }
  header {
    padding: 3rem;
  }
  .header-left p {
    width: 100%;
    margin-bottom: 1rem;
  }
  .header-left {
    order: 1;
  }
  .header-image-lg {
    width: 20rem;
    position: static;
    margin-bottom: 3rem;
  }
  .about-container {
    grid-template-columns: 1fr;
    place-items: center;
  }

  .about-right {
    text-align: center;
    margin-left: 0;
  }
  .about-right p {
    text-align: justify;
    width: 100%;
  }
  .about-image-lg {
    margin-bottom: 3rem;
    position: static;
  }
  .gallery-images {
    grid-template-columns: 1fr;
  }
  .collage-header h2 {
    transform: translateX(-120vw);
    animation: headline-moving 5s linear infinite;
  }
  @keyframes headline-moving {
    to {
      transform: translateX(120vw);
    }
  }
  .collage-images {
    gap: 0.5rem;
    animation: layout-change 20s linear infinite;
  }

  @keyframes layout-change {
    0% {
      grid-template-areas:
        "c1 c2 c3"
        "ch ch cv"
        "ch ch cv"
        "c4 c5 cv";
    }

    25% {
      grid-template-areas:
        "c1 c2 cv"
        "ch ch cv"
        "ch ch cv"
        "c3 c4 c5";
    }

    50% {
      grid-template-areas:
        "cv ch  ch"
        "cv ch ch"
        "cv c1 c2"
        "c5 c3 c4";
    }

    75% {
      grid-template-areas:
        "c1 ch ch"
        "cv ch ch"
        "cv c2 c3"
        "cv c5 c4";
    }

    100% {
      grid-template-areas:
        "c1 c2 c3"
        "ch ch cv"
        "ch ch cv"
        "c4 c5 cv";
    }
  }

  .collage-image {
    border-width: 0.5rem;
  }

  .collage-image img {
    filter: saturate(0) brightness(0.3);
    animation: color-change 20s linear infinite;
  }

  @keyframes color-change {
    to {
      filter: saturate(1) brightness(1);
    }
  }
}
@media screen and (max-width: 400px) {
  h1 {
    font-size: 3rem;
  }
}
